@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .filled-input{
        @apply left-[-5%] scale-75 translate-y-[-100%]  bg-darkBg px-2 py-1;
    }
}

body::before,
body::after {
  position: fixed;
  inset:0;
  content: '';
  /* width: 100%;
  height: 100%; */
  z-index: -1;

  opacity: 40%;
}

body::before {
  background: #98775011;
  /* filter: url(#noiseFilter); */
  filter: url(#noise);
}
.svgContainer {
  animation: turbulenceAnimation 2s infinite alternate-reverse;
}

@keyframes turbulenceAnimation {
  from {
    filter: url(#noise);
  }

  to {
    filter: url(#noise);
    baseFrequency: 0.2; /* Adjust the target baseFrequency value */
  }
}

html{
    scroll-behavior: smooth;
}

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1d1b19;
    color: #958f91;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 20vh;
    background: #98775011;
    margin:8.5vh;
    /* border-bottom:#987750aa solid 4px ;
    border-top:#987750aa solid 4px ; */
    border:#98775077 solid 1px ;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #987750;
    /* padding:2px; */
    border-radius: 20vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a88760;
}

.hide-scroll-bar::-webkit-scrollbar {
    display:none;
}
/* body.preload *{
animation-duration: 0s !important;
-webkit-animation-duration: 0s !important;
transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;} */